

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 35px;
}
p {
  font-size: 15px;
}
input {
  font-size: 18px;
}